*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background-image: url('image.jpg');
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main{
    min-height: 100vh;
 
    
    justify-content: center;
    align-items: center;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;
    width: 100vw;
    height: 70px;
    border-bottom: 1px solid rgb(2, 8, 60);
    position: fixed;
    background-color: rgb(4, 4, 40);
    
}

.header .head1{
    display: flex; 
    padding-left: 90px;
}

.header .head1 h3{
    font-size: 2em;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.2s;
}
.head1 h3:hover{
    text-shadow: 10px 10px 580px rgb(255, 255, 255 );
    color: rgb(255, 255, 255);
    font-size: 2.5em;
}

.header .head2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 80px;
 }

 .head2 h3{
    padding: 5px 15px;
    font-weight: 200;
    transition: 0.3s;
 }
    .head2 h3:hover{
        letter-spacing: 0.2px;
        
    }

 .head2 button{
    border-radius: 40px;
    padding: 2px 10px;
    color: rgb(250, 250, 252);
    background-color: rgb(64, 240, 225);
    border: none;
    font-weight: 600;
    transition: 0.3s;
 }

 .head2 button:hover{
    background-color: rgb(252, 255, 255);
    color: black;
    cursor: pointer;
 }

 .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
   
 }
 /* ? heading tittle */


.content h1{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-top: 300px;
    margin-right: 868px;
    color: rgb(244, 245, 251);
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    position: absolute;
}
.content h2{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: 370px;
    margin-right: 765px;
    color: rgb(244, 245, 251);
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    position: absolute;
}
.content h3{
    font-size: 30px;
    font-weight: 450;
    text-align: center;
    margin-top: 470px;
    margin-right: 885px;
    color: rgb(244, 245, 251);
    text-shadow: 0px 2px 5px rgb(255, 255, 255);
    position: absolute;
}
.content h4{
    font-size: 30px;
    font-weight: 750;
    text-align: center;
    margin-top: 470px;
    margin-right: 505px;
    color: rgb(33, 226, 236);
    text-shadow: 0px 1px 10px rgb(180, 217, 226);
    position: absolute;
}
 

 .image{
    position: relative;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    background-image: url(boySui.jpg);
    background-size: cover;
    margin-top: 150px;   
    margin-left: 850px;
    box-shadow: 1px 1px 18px rgb(215, 209, 209);
 }
 .image:hover{
    box-shadow: 1px 2px 30px rgb(162, 239, 233);
    
 }

.leftside{
    position: absolute;
    
   display: flex;
   margin: 28px;
   margin-top: 280px;
    margin-left: 150px;
   
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   width: 180px;
   height: 40px;
   background-color: #ffffff;
   border-radius: 50px;
   border: 1px solid rgb(2, 8, 60);
    box-shadow: 1px 1px 18px rgb(215, 209, 209);
    transition: 0.3s;
  
}
.leftside:hover{
     
      box-shadow: 1px 1px 28px rgb(64, 240, 225);
      cursor: pointer;
}
i{
    font-size: 25px;
    color: rgb(6, 2, 51);
    padding: 8px 0px;
    border: 1cm;
    transition: 0.3s;
   
}
i:hover{
    color: rgb(64, 240, 225);
    cursor: pointer;
    font-size: 28px;
}

/* button for hire me and download cv */

.btn{
    position: absolute;
    margin-top: 740px;
    margin-right: 640px;
    width: 300px;
    height: 40px;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.btn button{
    border-radius: 50px;
    padding: 10px 20px;
    color: rgb(250, 250, 252);
    background-color: rgb(64, 240, 225);
    border: none;
    font-weight: 600;
    transition: 0.3s;
 }

 .btn button:hover{
    background-color: rgb(252, 255, 255);
    color: black;
    cursor: pointer;
 }

 #btn2{
    border-radius: 50px;
    padding: 10px 20px;
    color: rgb(238, 232, 232);
    background-color: transparent;
    border: none;
    font-weight: 600;
    transition: 0.3s;
    border: 1px solid rgb(64, 240, 225);

 }
 #btn2:hover{
    background-color: rgb(252, 255, 255);
    color: black;
    cursor: pointer;
 }
 
/*? service section */

.service{
    min-height: 100vh;
    
    min-width: 100vw;
    background-color: rgb(247, 244, 244);
    color: navy;
    

}

.serHead{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.serHead h4{
    color: navy;
    font-size: 1.5em;
}

.serHead h3{
    color: navy;
    font-size: 2em;
}

.cardArea{
    
    max-width: 80vw;
   
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 10vw;
    
}
.cardArea .card{
    width: 220px;
    height: 280px;
   
    
    background-color: rgb(2, 8, 60);
    margin: 20px;
    border-radius: 30px;
    box-shadow: 1px 1px 18px rgb(215, 209, 209);
    transition: 0.3s;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 8px rgb(34, 35, 35);
}

.cardArea .card:hover{
    box-shadow: 1px 1px 28px rgb(64, 67, 67);
    cursor: pointer;
    color: rgb(2, 8, 60);
    background-color: rgb(254, 255, 255);
    i {
        color: rgb(2, 8, 60);
    }
    h3{
        color: rgb(2, 8, 60);
    }
    p {
        color: rgb(2, 8, 60);
    }
}

.cardArea .card i{
    color: rgb(255, 253, 253);
    font-size: 30px;
}

.cardArea .card h3{
    font-size: 15px;
    font-weight: 800;
}
.cardArea .card p{
    font-size: 12px;
    font-weight: 200;
    padding: 10px;
    text-align: center;
}